<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://ts.buzzheavier.com/d/1vwsit9dgiop?v=1yBvG2LjOkncScs99oiJ-tdHFBDo7G5t0OKmcP6Vljpr0eVqcNG6l0E4mwl49Jgiz5P50OJ62jmTZC-4mgd0gJq6_jE5nCFPhHqLZsS9KBBxGceX61f2s_yCrNwVdoX-qlYmXk2IB_77IGo08klVGRq9jwQGy9BinHi0bFf6A-xdwg</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.tale.stars</string>
                <key>bundle-version</key>
                <string>67.264</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Tale Stars</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
