<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://ts.buzzheavier.com/d/lpl4aylr7ngc?v=02viMR_7edYlCyfUwpwFF5Z0_Nsp9QwtA5hWHmywUuvp__FLO2XEe9pNhdxGe28TZp1xNxdDUsbZ2_sLHNtvJOG9ldT5G5R2sFgO4s2PHJFxJypRRAxB23OYBCLRYwoMKcVgwv4YY4Sk91VKjjVuG26h3pIQuBfnQ-ZA85Aid0Lb</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.tale.stars</string>
                <key>bundle-version</key>
                <string>67.264</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Tale Stars</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
